# Use TRAEFIK_TIML_FILE without quotes!
TRAEFIK_TOML_FILE=./traefik.dev.toml
ACME_JSON=./acme.json

#URL configs for galaxy
GALAXY_URL_CONFIG="traefik.frontend.rule=Host:kibana.naturalis.nl"

#Docker-compose path config
LOCAL_DB_PATH=/data/galaxy-postgres-data
LOCAL_GENREF_PATH=/data/galaxy/GenRef
LOCAL_EXTRAREF_PATH=/data/galaxy/ExtraRef

#General config
URL_USEARCH=http://drive5.com/cgi-bin/upload3.py?license=<your license key>
URL_UNITE=https://unite.ut.ee/sh_files/sh_general_release_20.11.2016.zip
URL_SILVA=https://www.arb-silva.de/fileadmin/silva_databases/current/Exports/SILVA_128_LSURef_tax_silva.fasta.gz
UPDATE_GENBANK=no
UPDATE_TAXA=no

#Galaxy config
DB_ENV_POSTGRES_PASSWORD=dbpassword
SMTP_SERVER=smtp.gmal.com:587
SMTP_USERNAME=aut@naturalis.nl
SMTP_PASSWORD=password
ERROR_EMAIL_TO=aut@naturalis.nl
EMAIL_FROM=aut@naturalis.nl
USER_ACTIVATION_ON=true
ADMIN_USERS=aut@naturalis.nl